body , html{
    height:100%;
    margin:0;
    padding:0;
    font-family:"Inter", sans-serif;
}


.Container {
  min-height: 100vh;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-color: #e7e8ea; */
  background: linear-gradient(to bottom, #a3bcd6, #d9e3ec);

}

.Main{
    width: 1200px;
    height: 580px;

    /* background-color: #f4f4f5; */
    background-color: #d9e3ec;

    box-shadow: 0 0 10px 12px rgb(0, 0, 0, 0.5);
    border-radius: 20px;

    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
}

.Footer{

    width: 1200px;
    height: auto;

    margin-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: #7d9dcb; */
    
}

.Fbutton {
    width: 250px;
    height: 100px;

    font-size: 40px;

    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 5px; 
    /* border: none; */
    background-color: #7d9cb2;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);

    border-radius: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: #000000;
}

.label {
    font-size: 20px; 
    color: #f2f5f8; 
}

.Fbutton:hover{
    background-color: #5d7b9d;
}

