.app-container {
  height: 90vh; 
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #e7e8e9;
  box-sizing: border-box;
  user-select: none;
}

.dnd-context-wrapper {
  display: flex;
  flex-direction: column; 
  flex-grow: 1;          
  min-height: 0;           
}

body, html {
  background-color: #e7e8e9;
}

.task-card.new-note-visual {
    background-color: #eeeeee;
    border: 1px dashed #bcbcbc;
    color: #3b3929;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}


.task-card.new-note-visual:hover{
  cursor: grabbing;
}

.selection-rectangle {
  position: fixed; /* Konumlandırmayı viewport'a göre yapar */
  border: 1px solid #007bff; /* Mavi bir çerçeve */
  background-color: rgba(0, 123, 255, 0.2); /* Yarı saydam mavi bir arka plan */
  z-index: 9999; /* Her şeyin üzerinde olmasını sağlar */
  pointer-events: none; /* Dörtgenin fare olaylarını engellememesini sağlar */
}